---
import Logo from '../assets/Logo.astro';
import Contact from '../assets/Contact.astro';
---

<header class="absolute w-full left-0 top-0 p-24 lg:p-18 flex items-center justify-between">
    
    <Logo />

    <a class="text-6xl lg:text-3xl" href="mailto:web@craigbarlow.dev" target="_blank" aria-label="Contact Craig Barlow via email">
        <Contact />
    </a>

</header>