<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Cardiff-based web developer with over a decade of experience. Head of Development at WebBox, specializing in innovative, user-focused digital solutions." />
		<title>Craig Barlow | Web Developer based in Cardiff</title>
		<script defer data-domain="craigbarlow.dev" src="https://plausible.io/js/script.js"></script>
		<script>
            let vheight = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', vheight + 'px');
        </script>
	</head>
	<body class="bg-bg-light text-white">
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	@font-face {
		font-display: swap;
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/nunito-v26-latin-regular.woff2') format('woff2');
	}
	@font-face {
		font-display: swap;
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 600;
		src: url('/fonts/nunito-v26-latin-600.woff2') format('woff2');
	}
	/* nunito-900 - latin */
	@font-face {
		font-display: swap;
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 900;
		src: url('/fonts/nunito-v26-latin-900.woff2') format('woff2');
	}
</style>

<style lang="scss">
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	html {
		font-size: 0.76vw;

		@screen lg {
			font-size: 0.521vw;
		}
	}

	body {
		padding: 10px;

		@screen lg {
			padding: 20px;
		}
	}

	
</style>

<script>
	/**
     * Set CSS variables for viewport height and header height
     */
	 window.addEventListener('resize', function() {
        document.documentElement.style.setProperty('--vh', window.innerHeight * 0.01 + 'px');
    }, true);
</script>